/* Visitanos.css */

.visitanos-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
  }
  
  .icono-container {
    margin: 20px 0;
  }
  
  .icono {
    width: 60px;
    height: 60px;
  }
  
  .subtitulo {
    font-size: 20px;
    margin-bottom: 10px;
    color: #085423;
  }
  
  .texto-gris {
    color: gray;
    margin-bottom: 20px;
  }
  
  .contenedor-mapa {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
  }
  
 /* .contenedor-imagen {
    flex: 30%;
    height: 300px; /* Ajusta la altura deseada 
    background-image: url('imagen-fondo.jpg'); 
    background-size: cover;
  }
  */

  .contenedor-iframe {
    flex: 70%;
    height: 300px; /* Ajusta la altura deseada */
    padding: 20px;
  }
  
  @media (max-width: 599px) {
  
  
  
  }