.containerMainObi{
    display: flex;
    margin-left: 6%;
    margin-top: 6%;
}

  
  .container-hijo {
    display: inline-block;
    vertical-align: top;
  }
  
  .izquierdaObi {
    width: 25%;
    height: 100%;
  }
  
  .derechaObi {
    width: 70%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .grid-item {
    padding: 10px;
  }

  .ObiturariosTitle{
    text-align: center;
    margin-bottom: 2%;
  }
 
.ObituariosSubcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F3F3F3;
}
  
.ObiImage{
    border-radius: 50%;
    margin: 5% 0;
}

.parrafoVerde{
    color: #085423;
}

.parrafoGris{
    color:#54595F
}

.nombrePersona{
    color: #085423;
}

.hora{
    color: black;
    font-size: medium;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    
}

.bi-watch{
    color: #085423;
}

.bi-geo-alt-fill{
    color: #085423;
}

@media screen and (max-width: 768px) {
  /* ... Tus otros estilos para el media query ... */

  .ObituariosSubcontainer{
    flex-direction: column;
  }

  .izquierdaObi{
    width: 100%;
  }

  .container-hijo{
    text-align: center;
  }

  .grid{
    grid-template-columns: none;
  }

}

